@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cano";
  src: url(./fonts/Cano.otf);
  src: url(./fonts/Cano.ttf) format("truetype"),
    url("./fonts/Cano.woff2") format("woff2"),
    url("./fonts/Cano.woff") format("woff");

  font-weight: normal;
  font-style: normal;
}

.lab {
  font-family: "Cano";
  align-content: center;
  display: flex;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.carousel {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselimg-title {
  font-family: "Cano";
  font-size: 30px;
  color: white;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.image {
  width: 500px;
  height: 300px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #fff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #fff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide-active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: "Cano", serif;
}
