@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
    font-family: "Cano";
    src: url(./fonts/Cano.otf);
    src: url(./fonts/Cano.ttf) format("truetype"),
    url("./fonts/Cano.woff2") format("woff2"),
    url("./fonts/Cano.woff") format("woff");

    font-weight: normal;
    font-style: normal;
}

.lab {
    font-family: "Cano", sans-serif;
    align-content: center;
    display: flex;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.carousel {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselimg-title {
    font-family: "Cano", sans-serif;
    font-size: 30px;
    color: white;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.image {
    width: 500px;
    height: 300px;
    border-radius: 10px;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #fff;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: #fff;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide-active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
    font-family: 'Cano', serif;
  font-family: "Cano", serif;
}

.calendar-card {
    width: 300px;
    background-color: rgba(255, 255, 255, .1);
    border-color: white;
    border-width: 1px;
    transition: all .2s ease-out;

}

.calendar-card:hover {
    transform: scale(1.02);
}

.calendar-card:active {
    transform: scale(1);

}

.social_impact_venn {
    transition: all .2s ease-out;
}

.social_impact_venn:hover {
    transform: scale(1.02);

}

.social_impact_venn:active {
    transform: scale(1);

}

.nav-option {
    transition: all .2s ease-out;
}

.nav-option:hover {
    transform: scale(1.05);
}

.nav-option:active {
    transform: scale(1);
}

.full-video-bg {
}

.swipe-down-container {
    animation: blink 3s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    25% {
        opacity: .5;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: .5;
    }
    100% {
        opacity: 0;
    }
}

.cano {
    font-family: 'Cano', serif;
}
